.calculator-field {
    display: block;
    width: 100%;
    padding: 20px;
}
.calculator-field h3 {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: 26px;
    line-height: 1.25em;
}
.calculator-field h3:not(:last-child) {
    margin-bottom: 0.3846153846153846em;
}
.calculator-field p {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 1.25em;
}
